**Internship Assignment 2**

Install pymongo

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 11.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 22.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

Import Library

In [2]:
from pymongo import MongoClient

MongoDB Connection

In [3]:
client = MongoClient("mongodb+srv://Pratham:MongoDB123@prathamcluster.xdcyvaj.mongodb.net/?retryWrites=true&w=majority")
db = client["office"]
coll = db["workers"]
print("Successfully connected")

Successfully connected

1. Insert Documents the Collection

In [46]:
wid = input("Enter Worker's ID: ")
name = input("Enter Worker's Name: ")
dept = input("Enter Department: ")
post = input("Enter Post: ")
city = input("Enter City: ")
salary = float(input("Enter Salary: "))
mobile = input("Enter Mobile No.: ")
email = input("Enter Email ID: ")

dic = {}
dic['_id'] = wid
dic['empnm'] = name
dic['dept'] = dept
dic['post'] = post
dic['city'] = city
dic['salary'] = salary
dic['mobile'] = mobile
dic['email'] = email

try:
  coll.insert_one(dic)
  print("Worker's Document Inserted Successfully")
except:
  print("Document can't Inserted")

Enter Worker's ID: 1007
Enter Worker's Name: Anoop Singh
Enter Department: Sales
Enter Post: Executive
Enter City: Hyderabad
Enter Salary: 82000
Enter Mobile No.: 3216549870
Enter Email ID: anoop.singh19@gmail.com
Worker's Document Inserted Successfully

2. Show List of all Documents in the Collection

In [ ]:
for doc in coll.find():
  try:
    print(doc)
  except:
    pass

{'_id': '1001', 'empnm': 'James Bond', 'dept': 'Development', 'post': 'Project Manager', 'city': 'London', 'salary': 85000.0, 'mobile': '9222222222', 'email': 'james.bond@gmail.com'}
{'_id': '1002', 'empnm': 'Ethan Brake', 'dept': 'Sales', 'post': 'Executive', 'city': 'Paris', 'salary': 70000.0, 'mobile': '9312456701', 'email': 'ethan.brake@gmail.com'}

3. Take ID as input, search and display the worker's
document

In [ ]:
w_id = input("Enter Worker's ID: ")
dic = {}
dic["_id"] = w_id
for doc in coll.find(dic):
  print(doc)

Enter Worker's ID: 1001
{'_id': '1001', 'empnm': 'James Bond', 'dept': 'Development', 'post': 'Project Manager', 'city': 'London', 'salary': 85000.0, 'mobile': '9222222222', 'email': 'james.bond@gmail.com'}

4. Take department as an input and display
documents of all workers of the department

In [ ]:
dept = input("Enter Department: ")
dic = {}
dic["dept"] = dept
for doc in coll.find(dic):
  print(doc)

Enter Department: Development
{'_id': '1001', 'empnm': 'James Bond', 'dept': 'Development', 'post': 'Project Manager', 'city': 'London', 'salary': 85000.0, 'mobile': '9222222222', 'email': 'james.bond@gmail.com'}

5. Accept ID and new salary of the worker. Update
the document with new salary. Display the document after
updation.

In [44]:
dic = {}
dic['_id'] = input("Enter Worker's ID: ")
for doc in coll.find(dic):
  print("Old Salary: ", doc['salary'])
newsal = {}
newsal['salary'] = float(input("Enter New Salary: "))
st = {'$set':newsal}
coll.update_one(dic, st)
for doc in coll.find(dic):
  print("Salary Upadated")
  print("New Salary: ", doc['salary'])
  print("Document: \n", doc)

Enter Worker's ID: 1004
Old Salary:  85300.0
Enter New Salary: 90000
Salary Upadated
New Salary:  90000.0
Document:
 {'_id': '1004', 'empnm': 'Vidyut Jamwal', 'dept': 'Development', 'post': 'General Manager', 'city': 'London', 'salary': 90000.0, 'mobile': '1236549870', 'email': 'vidyut.jamwal@gmail.com'}

6.  Accept ID, city and department. Update the
document with new city and department of the worker.

In [45]:
dic = {}
dic['_id'] = input("Enter Worker's ID: ")
for doc in coll.find(dic):
  print("City: ", doc['city'])
  print("Department: ", doc['dept'])
  newcity = {}
  newdept = {}
  newcity['city'] = input("Enter New City: ")
  newdept['dept'] = input("Enter New Department: ")
  st1 = {'$set':newcity}
  st2 = {'$set':newdept}
  coll.update_one(dic, st1)
  coll.update_one(dic, st2)
  for doc in coll.find(dic):
    print("City and Department Upadated")
    print("New City: ", doc['city'])
    print("New Department: ", doc['dept'])
    print("Document: \n", doc)

Enter Worker's ID: 123

7. Accept ID, fetch the document from collection,
copy it in another collection "exworkers" and delete the document
from the "workers" collection

In [35]:
wid = input("Enter Worker's ID: ")
dic = {}
dic["_id"] = wid
coll2 = db["exworkers"]
for doc in coll.find(dic):
  print(doc)
  opt = input("Move Document from Workers to ExWorkers? (yes/no): ")
  if opt.lower() == 'yes':
    coll2.insert_one(doc)
    coll.delete_one(doc)
    print("Document Successfully Moved from Workers to Exworkers Collection")

Enter Worker's ID: 1002
{'_id': '1002', 'empnm': 'Ethan Brake', 'dept': 'Sales', 'post': 'Executive', 'city': 'Paris', 'salary': 75300.0, 'mobile': '9312456701', 'email': 'ethan.brake@gmail.com'}
Move Document from Workers to ExWorkers? (yes/no): YeS
Document Inserted to Exworkers Collection Successfully
Document Successfully Moved from Workers to Exworkers Collection

8. Accept salary and display all documents having
salary greater than the input value

In [25]:
dic = {}
dic['$gt'] = float(input("Enter Worker's Salary: "))
sal = {}
sal['salary'] = dic
print("Documents having Salary greater than ", dic['$gt'])
for doc in coll.find(sal):
  print(doc)

Enter Worker's Salary: 75000
Documents having Salary greater than  75000.0
{'_id': '1001', 'empnm': 'James Bond', 'dept': 'Development', 'post': 'Project Manager', 'city': 'Paris', 'salary': 85000.0, 'mobile': '9222222222', 'email': 'james.bond@gmail.com'}
{'_id': '1002', 'empnm': 'Ethan Brake', 'dept': 'Sales', 'post': 'Executive', 'city': 'Paris', 'salary': 75300.0, 'mobile': '9312456701', 'email': 'ethan.brake@gmail.com'}